# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# Data files
Data/
*.zip

# Model files
*.pth
*.pt
*.pkl



# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.swp
*.swo
*~
